.home-container { 
  font-family: "Reem Kufi", sans-serif;
}

.home-banner-container {
    position: relative;
    display: flex;
    padding-top: 3rem;
}

.navbar-links-container {
  margin-top: 35px;
  display: inline-block;
  align-items: center;
  font-family: "Reem Kufi", sans-serif;
}

.navbar-links-container a {
  padding: 10px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  max-width: 500px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}

